* {
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: grid;
    grid-template-areas: 'image'
        'words';
    grid-template-rows: auto 475px;
    grid-template-columns: 1fr;
    max-width: 500px;

}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#main-items {
    display: grid;
    grid-template-areas: 'knick-knacks'
        'day'
        'muse-long'
        'muse-short'
        'inspired';
    grid-template-columns: 1fr;
    row-gap: 15px;

    max-width: 500px;
    padding: 1em;
}

#img-holder {


    z-index: -1;
    grid-area: image;



}

.celso {
    width: 100%;
    z-index: -1;
}

#top-words-button {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: 1em;

}

.tops-holder {
    display: flex;
    flex-direction: column;

}

h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Big Shoulders Display', cursive;
    max-width: 280px;
    margin-bottom: 0.4em;
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    line-height: 28px;
}

#button {
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;

}

#location-words {
    font-family: 'Big Shoulders Display', cursive;
    padding: 1em;
    background-color: #151515;
    color: #fff;
    letter-spacing: 0.2em;
    padding-right: 2em;
    text-decoration: none;

}

#arrow_Holder {
    background-color: #D5966C;
    padding: 1.4em;

}

.arrow {
    position: relative;
    top: 0em;
}


.link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    cursor: pointer;
}

.word-mover {
    position: relative;
    top: 0.1em;
}

#blank {
    display: none;
}

.knick-knacks {
    grid-area: knick-knacks;
    width: 100%;
}

.day {
    grid-area: day;
    padding: 1em;
    padding-left: 0em;
}

.day-p {
    margin-bottom: 1em;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 50px;
    max-width: 330px;
    margin-bottom: 0.5em;
}



source {
    height: none;
}

.ceslo_small {
    display: block;
}

.celso_medium {
    display: none;
}

.celso_big {
    display: none;
}

.muse-long {
    grid-area: muse-long;
    width: 100%;
}

.muse-short {
    width: 100%;
    grid-area: muse-short;
}

.inspired {
    grid-area: inspired;
    background-color: #151515;
    color: #fff;
    width: 100%;
    padding: 2em;
}




@media screen and (min-width:768px) {
    header {
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: auto;
        max-width: 800px;
        margin-bottom: 120px;

    }



    #main-items {
        grid-template-areas: 'day''day''knick-knacks''knick-knacks';
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: auto;
        max-width: 689px;
        padding: 0em;
    }

    #top-words-button {
        position: relative;

        z-index: 1000;
    }

    .tops-holder {
        position: absolute;
        top: 8em;
        left: -4em;

    }

    #img-holder {
        position: relative;
        z-index: 1;
    }

    picture {
        z-index: -1;
    }

    source {
        z-index: -1;
    }

    h1 {
        font-size: 70px;
        max-width: 330px;
        margin-bottom: 0.7em;
    }

    .tops-holder p {
        max-width: 340px;

    }

    #button {
        margin-top: 3em;
    }

    .day-p {
        width: 230px;
    }

    .celso_small {
        display: none;
    }

    .celso_medium {
        display: block;
    }

    .celso_big {
        display: none;
    }

    .kk-small {
        display: none;
    }


}

@media screen and (min-width:1024px) {
    header {

        max-width: 900px;

    }



    #main-items {
        max-width: 800px;
        width: 800px;
    }

    h1 {
        font-size: 80px;
        max-width: 375px;
    }

    .tops-holder {
        top: 10em;
    }

    .tops-holder p {
        max-width: 380px;
    }

    p {
        font-size: 20px;
    }

    .first_H2 {
        max-width: 250px;
    }

    .day-p {
        width: 250px;
    }

}


@media screen and (min-width:1300px) {
    header {
        display: grid;
        grid-template-areas: 'blank'
            'image''words';

        grid-template-columns: 1.2fr 1.5fr 1fr;
        grid-template-rows: auto;
        max-width: 1440px;


    }



    #main-items {
        grid-template-areas: 'day''day''knick-knacks''knick-knacks';
        grid-template-columns: 1fr 1.1fr;
        grid-template-rows: auto;
        max-width: 1250px;
        width: 90%;
        padding: 0em;
    }

    #blank {
        display: block;
        grid-area: blank;
        background-color: #151515;
        position: relative;

    }

    .small {
        display: none
    }

    h1 {
        max-width: 700px;
    }

    .big {
        display: block;
        color: #ffffff;
        mix-blend-mode: difference;
        font-size: 96px;
        position: absolute;
        left: 2em;
        top: 2.1em;
        width: 450px;
        z-index: 100;
    }

    .tops-holder {
        top: 12em;
    }

    .tops-holder p {
        max-width: 350px;
    }

    p {
        font-size: 22px;
    }

    .day-p {
        width: 350px;
    }

    h2 {
        font-size: 60px;
    }

    .first_H2 {
        max-width: 300px;
    }

    br {
        display: none;
    }

    .day {
        position: relative;
        left: 6.5em;
        top: 2em;
    }

    .celso_small {
        display: none;
    }

    .celso_medium {
        display: none;
    }

    .celso_big {
        display: block;
    }
}